* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
--bs-nav-link-color: white;
--bs-nav-link-hover-color: #C5A162;
}

.nav-link {
    font-family: "Biryani", sans-serif;
    font-weight: 800;
    position: relative;
    top: 2px;
}

.modal-title {
    font-family: "Biryani", sans-serif;
    font-weight: 900;
}

.modal-dialog {
    position: absolute;
    left: 64%;
    top: 7%;
}

.well {
    background-color: #343a40;
    border-radius: 4px;
    padding: 5px 5px;
    width: 30px;
    height: 30px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.product-title {
    float: none;
    margin-top: 15vh;
    margin-left: -20vw;
    min-height: 240px;
    position: relative;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0;
    text-align: end;
    font-family: "Biryani", sans-serif;
    font-weight: 900;
    font-size: 100px;
}

.gradient-line {
    height: 1px;
    width: 100%;
}

.price-display {
    font-size: 25px;
}

.product-description {
    width: 350px;
    max-width: 350px;
    margin-bottom: 20px;
    height: auto;
    font-size: 12px;
}

.price-display {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}

.btn {
    border: none;
    outline: none;
    position: relative;
    border-radius: 30px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}

.btn::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: #232025;
    border-radius: 30px;
    z-index: -1;
} 

/* .cart-container {
    margin-right: 210px;
} */
.product-thumbnails {
    display: flex;
    flex-direction: column;
    max-height: 345px;
    flex-wrap: wrap;
    overflow-wrap: normal;
}
