* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gold-text {
    background: linear-gradient(180deg, #CA9D29 5%, #E7B872 30%, #C88B16 60%, #B67416 91%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav {
--bs-nav-link-color: white;
--bs-nav-link-hover-color: white;
}

.nav-link {
    font-family: 'Biryani', sans-serif;
    font-weight: 900;
    margin-bottom: -5px;
}

.navbar-toggler {
    border: none;
}

.modal {
    font-family: 'Oswald', sans-serif;
    width: unset;
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    left: unset;
    z-index: 1100;
    padding-right: 0;
}

.modal-title {
    font-family: 'Biryani', sans-serif;
    font-weight: 900;
    vertical-align: middle;
    margin-bottom: -9px;
}

.modal-header {
    border-bottom: 2px dotted #343a40;
}


.empty-cart {
    text-align: center;
    margin: 40px auto;
}

.cart-quantity {
    padding-left: 10px;
    font-size: large;
}

.remove-btn {
    width: 100px;
    padding: 0;
    margin: 0;
    height: auto;
    background: transparent;
    border: none;
    text-align: start;
    text-decoration: underline;
    font-size: 14px;
}

.well {
    background-color: #343a40;
    border-radius: 4px;
    padding: 5px 5px;
    width: 30px;
    height: 30px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.cart-quantity-btn {
    line-height: 1;
    border: none;
    background-color: transparent;
    font-size: small;
}

.shop-container {
    margin-top: 60px;
}

.product-img {
    min-width: 500px;
}

.product-title {
    float: none;
    margin-left: -20vw;
    min-height: 240px;
    position: relative;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0;
    text-align: end;
    font-family: 'Biryani', sans-serif;
    font-weight: 900;
    font-size: 100px;
}

.cart-container {
    align-items: center;
    min-height: 360px;
    margin: 10px auto;
}

.gradient-line {
    height: 1px;
}

.selected-thumbnail {
    outline: 1px solid #ffffff3b; 
}

.product-description {
    max-width: 320px;
    margin-bottom: 20px;
    height: auto;
    font-size: 14px;
}

.price-display {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.btn {
    border: none;
    outline: none;
    position: relative;
    border-radius: 30px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.btn-link {
    --bs-btn-active-color: rgba(255, 255, 255, 0.821);
    --bs-btn-color: rgba(255, 255, 255, 0.821);
    --bs-btn-hover-color: rgba(255, 255, 255, 0.821);
}

.btn::before {
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: #232025;
    border-radius: 30px;
    z-index: -1;
} 

.product-thumbnails {
    max-width: 81px;
    margin: 10px 20px 10px 10px;
}

.thumbnail-item {
    margin-top: 10px;
    max-width: 80px;
}

.img-thumbnail {
    border: none;
    background: none;
}

.slick-prev,
.slick-next {
    position: relative;
    z-index: 1;
}

.slick-prev {
    left: 18px; 
    top: -10px;
    transform: rotate(90deg);
}

.slick-next {
    left: 18px;
    transform: rotate(90deg);
}

.about-pouches {
    font-family: 'Oswald', sans-serif;
    margin: 100px 0px;
    color: black;
    border-radius: 5px;
}

.stand-up-pouches {
    text-align: end;
    color: #3D1B0F;
}

.about-pouches-text {
    text-align: justify;
    line-height: 2;
    margin-bottom: 0;
    font-size: large;
}

.bold-text {
    color: #3D1B0F;
    font-weight: bold;
}

.more-reasons-text {
    font-size: 50px;
    text-align: left;
    font-weight: 400;
}

.delicious {
    font-family: "Sacramento", cursive;
    font-size: 70px;
    padding-top: 40px;
    padding-left: 30px;
}

.pouches-img {
    max-width: 100%;
    height: auto;
}

.more-reasons {
    font-family: 'Oswald', sans-serif;
}

.more-reasons-list {
    list-style-type: none;
    padding-left: 0px;
}

.more-reasons-list li {
    background: url('/src/images/cookie-icon.png') no-repeat;
    padding-left: 55px; 
    background-size: 50px; 
    background-position-y: center; 
    line-height: 1.7;
    margin-bottom: 10px;
    font-size: large;
}

.faqs-container {
    margin: 100px auto 160px auto;
}

.faqs-header {
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}

.card {
    --bs-card-bg: transparent;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: 1px dotted grey;
    --bs-card-border-color: transparent;
}

.card-header {
    background-color: transparent;
    border-bottom: none;
    height: 80px;
}

.card:last-child {
    border-bottom: 1px dotted grey;
}

.faq-button {
    width: unset;
    text-align: left;
    border: none;
    border-radius: unset;
    position: unset;
    background-color: transparent;
    padding: 0;
    color: rgba(255, 255, 255, 0.821); 
    font-size: 20px;
    text-decoration: none; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    cursor: pointer;
}

.faq-button::before {
    position: unset;
    content: unset;
}

.contact-container {
    margin: 100px auto;
}

.mobile-view-line {
    border: 1px dotted grey;
    margin: 20px auto;
}

.contact-us-header {
    font-size: 60px;
    font-family: 'Oswald', sans-serif;
}

.contact-us-text {
    font-size: 18px;
}

.send-btn {
    height: 42px;
    width: 100%;
    border-radius: 5px;
    position: unset;
    background-color: rgba(255, 255, 255, 0.821);
    border: 1px solid rgba(255, 255, 255, 0.821);
    font-weight: bold;
    font-family: unset;
    color: black;

}

.send-btn:hover {
    --bs-btn-hover-bg: transparent; 
    --bs-btn-hover-border-color: rgba(255, 255, 255, 0.821);
}

.form-input {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.821);
    color: rgba(255, 255, 255, 0.821);
}

.footer {
    text-align: center;
    padding-bottom: 10px;
    margin-top: 50px;
}

@media screen and (min-width: 1176px) and (max-width: 1304px) {
    .product-title {
        font-size: calc(100px * 0.9); 
        min-height: unset;
    }
}

@media screen and (min-width: 1051px) and (max-width: 1175px) {
    .product-title {
        font-size: calc(100px * 0.8); 
        min-height: unset;
    }
    .gradient-line {
        margin-left: 55px;
    }
    .product-nav {
        margin-left: 55px;
    }
    .cart-container {
        margin: 10px auto 10px 55px;
        max-width: 485px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1050px) {
    .product-title {
        font-size: calc(100px * 0.7); 
        min-height: unset;
    }
    .gradient-line {
        margin-left: 55px;
    }
    .product-nav {
        margin-left: 55px;
    }
    .cart-container {
        margin: 10px auto 10px 55px;
        max-width: 485px;
    }
}

@media screen and (max-width: 991px) {
    .product-title {
        margin-top: 0vh;
        font-size: calc(100px * 0.8); 
        margin-left: unset;
    }
    .product-description {
        max-width: unset;
    }
    .btn {
        width: 100%;
    }
    .product-container {
        margin-bottom: 20px;
    }
    .product-img {
        min-width: unset;
        height: 840px;
    }
    .shop-container {
        margin-top: -10px;
    }
    .product-thumbnails {
        margin: 0px auto 30px auto;
        max-width: unset;
    }
    .thumbnail-item {
        margin-top: 0px;
        height: 8px;
        background-color: #343a40;
        border-radius: 5px;
        overflow: hidden;
    }
    .selected-thumbnail {
        background-color: #C5A162;
        outline: none; 
    }
    .img-thumbnail {
        border: none;
        background: none;
    }
    .slick-prev::before,
    .slick-next::after,
    .slick-next::before,
    .slick-arrow {
        display: none;
    }
    .slick-prev {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        display: block;
        width: 0px;
        height: 0px;
        padding: 0;
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
    }
    .slick-next {
        font-size: 0;
        line-height: 0;
        position: absolute;
        top: 50%;
        left: auto;
        right: 0;
        display: block;
        width: 0px;
        height: 0px;
        padding: 0;
        transform: translate(0, -50%);
        cursor: pointer;
        color: transparent;
        border: none;
        outline: none;
    }

    .about-pouches {
        margin: 0px;
    }
    .stand-up-pouches {
        padding-top: 20px;
        text-align: left;
    }
    .mobile-size {
        font-size: xx-large;
    }
    .more-reasons {
        margin: 20px 0px;
    }
    .shop-container {
        margin-top: 80px;
    }
    .about-container {
        margin-top: 80px;
    }
    .faqs-container {
        margin: 40px auto 190px auto;
    }
}

@media screen and (max-width: 825px) {
    .product-title {
        margin-top: 0vh;
        min-height: unset;
        font-size: calc(100px * 0.7); 
    }
}

@media screen and (max-width: 722px) {
    .product-title {
        margin-top: 0vh;
        min-height: unset;
        font-size: calc(100px * 0.6); 
    }
}

@media screen and (max-width: 622px) {
    .product-title {
        margin-top: 0vh;
        min-height: unset;
        font-size: calc(100px * 0.55); 
    }
}

@media screen and (max-width: 576px) {
    .modal {
        width: 100%;
        left: 0;
        top: 0;
    }
    .modal-content {
        height: 100%;
        border-radius: 0;
        border: unset;
    }
    .modal-dialog {
        margin: unset;
    }
    .product-title {
        font-size: calc(100px * 0.5); 
    }
    .product-img {
        width: 80%;
        height: 437px;
    }
}

@media screen and (max-width: 525px) {
    .product-title {
        font-size: calc(100px * 0.45); 
    }
    .thumbnail-item {
        max-width: 60px;
    }
}

@media screen and (max-width: 474px) {
    .product-title {
        font-size: calc(100px * 0.4); 
    }
}

@media screen and (max-width: 423px) {
    .product-title {
        font-size: calc(100px * 0.35); 
    }
}
