* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
--bs-nav-link-color: white;
--bs-nav-link-hover-color: #C5A162;
}

.nav-link {
    font-family: "Biryani", sans-serif;
    font-weight: 900;
    margin-bottom: -5px;
}

.modal {
    font-family: "Oswald", sans-serif;
    width: unset;
    position: fixed;
    top: 1.25rem;
    right: 1.25rem;
    left: unset;
    z-index: 1100;
    padding-right: 0;
}

@media only screen and (max-width: 576px) {
    .modal {
        width: 100%;
        left: 0;
        top: 0;
    }
    .modal-content {
        height: 100vh;
        border-radius: 0;
        border: unset;
    }
    .modal-dialog {
        margin: unset;
    }
}

.modal-title {
    font-family: "Biryani", sans-serif;
    font-weight: 900;
    vertical-align: middle;
    margin-bottom: -9px;
}

.remove-btn {
    width: 100px;
    padding: 0;
    margin: 0;
    height: auto;
    background: transparent;
    border: none;
    text-align: start;
    text-decoration: underline;
    font-size: 14px;
}

.well {
    background-color: #343a40;
    border-radius: 4px;
    padding: 5px 5px;
    width: 30px;
    height: 30px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.product-title {
    float: none;
    margin-top: 5vh;
    margin-left: -20vw;
    min-height: 240px;
    position: relative;
    top: 0%;
    bottom: auto;
    left: auto;
    right: 0;
    text-align: end;
    font-family: "Biryani", sans-serif;
    font-weight: 900;
    font-size: 100px;
}

.cart-container {
    margin-bottom: 50px;
    align-items: center;
    min-height: 360px;
}

@media screen and (max-width: 992px) {
    .product-title {
        margin-top: 0vh;
        font-size: calc(100px * 0.8); 
        margin-left: unset;
    }
    .cart-container {
        margin: 0px 0px 50px 20px;
    }
    .product-container {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .product-title {
        margin-top: 0vh;
        min-height: unset;
        font-size: calc(100px * 0.8); 
    }
}

@media screen and (max-width: 576px) {
    .product-title {
        font-size: calc(100px * 0.7); 
    }
    .product-img {
        width: 80%;
    }
}

@media screen and (max-width: 540px) {
    .product-title {
        font-size: calc(100px * 0.54); 
    }
}

@media screen and (max-width: 430px) {
    .product-title {
        font-size: calc(100px * 0.43); 
    }
}

.gradient-line {
    height: 1px;
    width: 100%;
}

.product-description {
    width: 350px;
    max-width: 350px;
    margin-bottom: 20px;
    height: auto;
    font-size: 12px;
}

.price-display {
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.btn {
    border: none;
    outline: none;
    position: relative;
    border-radius: 30px;
    width: 250px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}

.btn::before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: #232025;
    border-radius: 30px;
    z-index: -1;
} 

.product-thumbnails {
    max-width: 81px;
    margin: 10px 20px 10px 10px;
}

.thumbnail-item {
    margin-top: 10px;
}

.selected-thumbnail {
    outline: 1px solid #ffffff3b; 
}

.img-thumbnail {
    border: none;
    background: none;
}

.slick-prev,
.slick-next {
    position: relative;
    z-index: 1;
}

.slick-prev {
    left: 18px; 
    top: -10px;
    transform: rotate(90deg);
}

.slick-next {
    left: 18px;
    transform: rotate(90deg);
}